.macbook-pro {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-pro .div {
  background: linear-gradient(180deg, rgb(49, 49, 50) 4.82%, rgb(22, 22, 24) 100%);
  background-color: rgba(255, 255, 255, 1);
  height: 4413px;
  overflow: hidden;
  position: relative;
  width: 1496px;
}

.macbook-pro .overlap {
  height: 925px;
  left: 215px;
  position: absolute;
  top: 0;
  width: 1235px;
}

.macbook-pro .snapinsta-app {
  height: 925px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1080px;
}

.macbook-pro .frame {
  height: 285px;
  left: 603px;
  position: absolute;
  top: 332px;
  width: 569px;
}

.macbook-pro .rectangle {
  background-color: #efc862;
  height: 2px;
  left: 25px;
  position: absolute;
  top: 253px;
  width: 136px;
}

.macbook-pro .text-wrapper {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 220px;
}

.macbook-pro .work-remotely {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 600;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 455px;
}

.macbook-pro .introducing-future {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 143px;
}

.macbook-pro .frame-2 {
  height: 190px;
  left: 0;
  position: absolute;
  top: 337px;
  width: 333px;
}

.macbook-pro .text-wrapper-2 {
  color: #707070;
  font-family: "Cormorant Infant", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 140px;
}

.macbook-pro .text-wrapper-3 {
  color: #707070;
  font-family: "Cormorant Infant", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 123px;
}

.macbook-pro .text-wrapper-4 {
  color: #ffffff;
  font-family: "Cormorant Infant", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
}

.macbook-pro .overlap-group {
  background-image: url(https://generation-sessions.s3.amazonaws.com/c6f7e29ba2154775db96adfa96ef8967/img/line-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 23px;
  position: absolute;
  top: 45px;
  width: 290px;
}

.macbook-pro .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 220px;
}

.macbook-pro .overlap-group-2 {
  height: 22px;
  left: 20px;
  position: absolute;
  top: 50px;
  width: 107px;
}

.macbook-pro .text-wrapper-5 {
  color: #ffffff;
  font-family: "Cormorant Infant", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.macbook-pro .text-wrapper-6 {
  color: #707070;
  font-family: "Cormorant Infant", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 72px;
}

.macbook-pro .text-wrapper-7 {
  color: #707070;
  font-family: "Cormorant Infant", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 89px;
}

.macbook-pro .text-wrapper-8 {
  color: #707070;
  font-family: "Cormorant Infant", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 106px;
}

.macbook-pro .navbar {
  height: 39px;
  left: 521px;
  position: absolute;
  top: 86px;
  width: 714px;
}

.macbook-pro .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 141px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.macbook-pro .text-wrapper-10 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 284px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.macbook-pro .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 404px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.macbook-pro .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 525px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.macbook-pro .search-instance {
  left: 687px !important;
  top: 4px !important;
}

.macbook-pro .rectangle-2 {
  background-color: #efc862;
  height: 2px;
  left: 14px;
  position: absolute;
  top: 28px;
  width: 68px;
}

.macbook-pro .text-wrapper-13 {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.macbook-pro .text-wrapper-14 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 74px;
  white-space: nowrap;
}

.macbook-pro .img {
  height: 925px;
  left: 187px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.macbook-pro .linkedin-negative-instance {
  left: 91px !important;
  top: 889px !important;
}

.macbook-pro .instagram-negative-instance {
  left: 91px !important;
  top: 844px !important;
}

.macbook-pro .twitter-negative-instance {
  left: 92px !important;
  top: 799px !important;
}

.macbook-pro .facebook-negative-instance {
  left: 92px !important;
  top: 754px !important;
}

.macbook-pro .div-wrapper {
  background-color: #222222;
  border: 1px solid;
  border-color: #707070;
  border-radius: 100px;
  height: 93px;
  left: 92px;
  position: absolute;
  top: 981px;
  width: 1313px;
}

.macbook-pro .p {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 142px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
}

.macbook-pro .image {
  height: 270px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 1191px;
  width: 368px;
}

.macbook-pro .image-2 {
  height: 251px;
  left: 582px;
  object-fit: cover;
  position: absolute;
  top: 1191px;
  width: 424px;
}

.macbook-pro .image-3 {
  height: 279px;
  left: 1150px;
  object-fit: cover;
  position: absolute;
  top: 1176px;
  width: 234px;
}

.macbook-pro .overlap-2 {
  height: 131px;
  left: 60px;
  position: absolute;
  top: 1465px;
  width: 400px;
}

.macbook-pro .text-wrapper-15 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 400px;
}

.macbook-pro .text-wrapper-16 {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 198px;
}

.macbook-pro .text-wrapper-17 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 611px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1496px;
  width: 400px;
}

.macbook-pro .text-wrapper-18 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 1041px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1496px;
  width: 400px;
}

.macbook-pro .text-wrapper-19 {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 719px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1463px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-20 {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 1174px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1463px;
  white-space: nowrap;
}

.macbook-pro .frame-3 {
  height: 2020px;
  left: 5px;
  overflow: hidden;
  position: absolute;
  top: 2392px;
  width: 1492px;
}

.macbook-pro .overlap-wrapper {
  height: 225px;
  left: 137px;
  position: absolute;
  top: 1386px;
  width: 1359px;
}

.macbook-pro .overlap-3 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: #00000066;
  height: 223px;
  left: 6px;
  position: relative;
  top: 2px;
  width: 1353px;
}

.macbook-pro .frame-4 {
  height: 89px;
  left: 54px;
  position: absolute;
  top: 43px;
  width: 287px;
}

.macbook-pro .overlap-group-3 {
  height: 43px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 262px;
}

.macbook-pro .text-wrapper-21 {
  color: #ffffff;
  font-family: "Sintony", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.macbook-pro .text-wrapper-22 {
  color: #707070;
  font-family: "Sintony", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
}

.macbook-pro .text-wrapper-23 {
  color: #ffffff;
  font-family: "Sintony", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 49px;
}

.macbook-pro .frame-5 {
  height: 89px;
  left: 391px;
  position: absolute;
  top: 48px;
  width: 287px;
}

.macbook-pro .overlap-4 {
  height: 43px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 222px;
}

.macbook-pro .overlap-5 {
  height: 106px;
  left: 1042px;
  position: absolute;
  top: 43px;
  width: 287px;
}

.macbook-pro .frame-6 {
  height: 89px;
  left: 0;
  position: absolute;
  top: 0;
  width: 287px;
}

.macbook-pro .text-wrapper-24 {
  color: #ffffff;
  font-family: "Sintony", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
}

.macbook-pro .soon-launching {
  color: #707070;
  font-family: "Sintony", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
}

.macbook-pro .text-wrapper-25 {
  color: #efc862;
  font-family: "Sintony", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 88px;
}

.macbook-pro .rectangle-3 {
  height: 100%;
  left: 728px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.macbook-pro .overlap-6 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: #00000066;
  height: 223px;
  left: 1px;
  position: absolute;
  top: 1015px;
  width: 1353px;
}

.macbook-pro .rectangle-4 {
  background-color: #ffffff;
  border-radius: 100px;
  height: 129px;
  left: 38px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 49px;
  width: 1153px;
}

.macbook-pro .rectangle-5 {
  background-color: #ffffff;
  border-radius: 100px;
  height: 129px;
  left: 696px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 47px;
  width: 495px;
}

.macbook-pro .text-wrapper-26 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 88px;
  width: 468px;
}

.macbook-pro .text-wrapper-27 {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 711px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 88px;
  width: 469px;
}

.macbook-pro .message-light-instance {
  left: 759px !important;
  top: 47px !important;
}

.macbook-pro .overlap-7 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: #0e0e10;
  height: 285px;
  left: 0;
  position: absolute;
  top: 1730px;
  width: 1496px;
}

.macbook-pro .our-projects-career {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 852px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 86px;
  width: 222px;
}

.macbook-pro .websites-social {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 552px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 84px;
  width: 222px;
}

.macbook-pro .text-wrapper-28 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 236px;
}

.macbook-pro .text-wrapper-29 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 266px;
}

.macbook-pro .support-request {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1128px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 84px;
  width: 222px;
}

.macbook-pro .text-wrapper-30 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 615px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 252px;
  width: 291px;
}

.macbook-pro .frame-7 {
  height: 52px;
  left: 484px;
  position: absolute;
  top: 27px;
  width: 809px;
}

.macbook-pro .text-wrapper-31 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 368px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-32 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 644px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-33 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.macbook-pro .overlap-8 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/c6f7e29ba2154775db96adfa96ef8967/img/rectangle-14.png);
  background-size: 100% 100%;
  height: 586px;
  left: 1px;
  position: absolute;
  top: 269px;
  width: 1490px;
}

.macbook-pro .rectangle-6 {
  height: 533px;
  left: 693px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 770px;
}

.macbook-pro .pin-instance {
  left: 105px !important;
  position: absolute !important;
  top: 92px !important;
}

.macbook-pro .design-component-instance-node {
  left: 383px !important;
  top: 112px !important;
}

.macbook-pro .phone-light-instance {
  left: 116px !important;
  top: 252px !important;
}

.macbook-pro .linkedin-negative-2 {
  left: 417px !important;
  top: 336px !important;
}

.macbook-pro .text-wrapper-34 {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 193px;
  width: 186px;
}

.macbook-pro .help-pratech-com {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 359px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 188px;
}

.macbook-pro .text-wrapper-35 {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 74px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 419px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-36 {
  color: #efc862;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 359px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 415px;
  width: 180px;
}

.macbook-pro .overlap-9 {
  height: 121px;
  left: 372px;
  position: absolute;
  top: 116px;
  width: 844px;
}

.macbook-pro .text-wrapper-37 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 733px;
}

.macbook-pro .text-wrapper-38 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 62px;
  width: 844px;
}

.macbook-pro .rectangle-7 {
  background-color: #efc862;
  height: 3px;
  left: 41px;
  position: absolute;
  top: 238px;
  width: 1419px;
}

.macbook-pro .overlap-10 {
  height: 655px;
  left: -34px;
  position: absolute;
  top: 1737px;
  width: 1455px;
}

.macbook-pro .rectangle-8 {
  background-color: #313132;
  height: 655px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 1365px;
}

.macbook-pro .text-wrapper-39 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 249px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 71px;
  white-space: nowrap;
}

.macbook-pro .line-2 {
  height: 6px;
  left: 229px;
  position: absolute;
  top: 91px;
  width: 233px;
}

.macbook-pro .image-4 {
  height: 302px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 969px;
}

.macbook-pro .OUR-AMAZING-TEAM {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 143px;
  width: 458px;
}

.macbook-pro .we-can-t-do-it-alone {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 211px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 347px;
  width: 1127px;
}

.macbook-pro .rectangle-9 {
  background-color: #efc862;
  border-radius: 100px;
  height: 66px;
  left: 640px;
  position: absolute;
  top: 552px;
  width: 269px;
}

.macbook-pro .text-wrapper-40 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 671px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 560px;
  white-space: nowrap;
  width: 207px;
}
